   <footer>
         <!-- footer -->
         <section class="w3l-footer">
             <div class="w3l-footer-16-main py-5">
                 <div class="container">
                     <div class="row">
                         <!-- Sol Bölüm -->
                         <div class="col-lg-6 footer-left">
                             <h3 class="mb-3">Hakkımda</h3>
                             <p>Ben, müşteri memnuniyetini ön planda tutan, kaliteli hizmet sunmayı amaçlayan bir kişiyim. Amacım, en iyi hizmeti sunmak ve müşterilerimin beklentilerini karşılamaktır.</p>
                         </div>
                         <!-- Orta Bölüm -->
                         <div class="col-md-2 column mt-md-0 mt-4">
                             <!-- Boşluk -->
                         </div>
                         <!-- Sağ Bölüm -->
                         <div class="col-md-4 column mt-md-0 mt-4">
                             <h3>İşe Yarar</h3>
                             <ul class="footer-gd-16">
                                 <li><a href="/about">Projelerim</a></li>
                                 <li><a href="/about">Medya</a></li>
                                 <li><a href="/about">Hakkımda</a></li>
                                
                             </ul>
                         </div>
                         <!-- Sağ Bölüm -->
                         <div class="col-md-4 column mt-md-0 mt-4">
                             <h3>Hizmetler</h3>
                             <ul class="footer-gd-16">
                                 <li><a href="/about">Gizlilik Politikası</a></li>
                                 <li><a href="/about">Şartlarımız</a></li>
                                 <li><a href="/about">Referanslarım</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                         <div class="columns text-lg-left text-center">
                             <p>&copy; 2024 SATAKANC, tüm hakları saklıdır. Designed by <a href="https://www.instagram.com/atakancapaa/" target="_blank">SATAKANC</a></p>
                         </div>
                         <div class="columns-2 mt-lg-0 mt-3">
                             <ul class="social-icons">
                                 <li><a href="https://www.facebook.com/atakan.capa.58" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                 <li><a href="https://twitter.com/atakancapaa" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                 <li><a href="https://www.linkedin.com/in/sadettin-atakan-%C3%A7apa-/" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                 <li><a href="https://github.com/SATAKANC" title="GitHub" target="_blank"><i class="fab fa-github"></i></a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
         <!-- //footer -->
     </footer>