



  

    
       <div class="about">

        <div class="wrapper target">
           <div class="text">
              <h1>Ben Kimim?</h1>
              <p>
                <br>
                Merhaba, ben Sadettin Atakan Çapa. 23 yaşımdayım. İstanbul, Ataşehir'de yaşamaktayım.
                 Doğuş Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencisiyim. 
                Yazılım ve teknoloji alanlarına olan ilgim uzun yıllara dayanmaktadır. 
                Eğitim hayatıma Göztepe 29 Ekim İlköğretim Okulu'nda başladım. Ortaokulumu Faik Reşit Unat Ortaokulu'nda tamamladım 
                ve lise öğretimime Göztepe İhsan Kurşunoğlu Anadolu Lisesi'nde başladım ve ardından 
                Özel Arıkanlar Kadıköy Fen Bilimleri Temel Lisesi'nde devam ettim. 
                Bu süreçte bilgi ve becerilerimi geliştirmeye büyük önem verdim. 
                Üniversite eğitimime Doğuş Üniversitesi'nde Makine Mühendisliği bölümünde başladım.
                 Ancak, daha sonra yazılım alanına olan ilgim ve tutkum nedeniyle kurum içi yatay geçiş 
                 yaparak Yazılım Mühendisliği bölümüne geçtim. Şu anda 4. sınıf öğrencisi olarak eğitimime 
                 devam etmekteyim. İş deneyimlerime gelince, kariyerime Seyhanlar Market (Grosper) bünyesinde
                  gıda ve kozmetik reyonlarında görev alarak başladım. Daha sonra, 3 aylık bir proje kapsamında DATAOCEAN AI'da Data Analyst 
                  olarak çalıştım. Bu deneyimler, veri analizi ve yazılım geliştirme konusundaki bilgi ve becerilerimi
                   artırmama yardımcı oldu. Ardından, Şok Marketler'de gıda ve kozmetikten sorumlu reyon görevlisi ve 
                   kasa görevlisi olarak çalıştım. Daha sonra, 2.5 senelik bir süreç boyunca PASSO'nun yetkili 
                   bilet satış şirketi olduğu organizasyonlarda Supervisor, Bilet Gişesi Satış Elemanı, 
                   Bilet Kontrol Elemanı ve Yardım Masası gibi çeşitli pozisyonlarda part time olarak yer aldım. İlerleyen dönemde 
                   Zorlu Performans Sanatları Merkezi'nde bulunan PASSO Bilet Gişesi'nde Bilet Satış Sorumlusu olarak görev aldım.
                    Burada, etkinliklerin satışından operasyonel ekipmanların kontrolüne kadar bir dizi görevi üstlendim. 
                    Geçmiş deneyimlerim ve üniversite eğitimim, yazılım ve teknoloji alanındaki kariyerimi geliştirmek 
                    için bir temel oluşturdu. Gelecekte de bu alanda ilerlemeye ve kendimi geliştirmeye devam etmeyi planlıyorum.
              </p>
           </div>
           <div class="photo">
              <img src="/images/user/ata.png" alt="">
           </div>
        </div>
        <div class="centered">
            <h3>REFERANSLARIM</h3>
        </div>  
        <div class="wrapper ">
           <div class="text">
              <h1>Begüm Ayaydın</h1>
             
              <br><p>İpekyol ve Mediteks Incorporated Yönetim Kurulu Başkanı</p>
             
             <br><p> Begüm Ayaydın, İpekyol ve Mediteks Incorporated şirketlerinin sahibi olarak uluslararası 
                moda endüstrisinde önemli bir yere sahiptir. İpekyol markası, lüks ve şıklığı 
                bir araya getiren özgün tasarımlarıyla tanınırken, Mediteks Incorporated ise sağlık 
                sektöründe inovatif çözümler sunmaktadır. Ayaydın'ın liderliği ve vizyonu, moda ve sağlık 
                sektörlerinde marka değeri yaratmada önemli bir rol oynamaktadır.</p>
                                                    
           </div>
           <div class="photo">
              <img src="/images/background/begüm.webp" alt="">
           </div>
        </div>
        <div class="wrapper ">
            <div class="text">
               <h1>Ayça Gül Eriş</h1>
              
               <br><p>Aktifbank Genel Müdür Yardımcısı</p>
              
              <br><p>Ayça Gül Eriş, finans sektöründe uzun yılların deneyimine sahip olan bir liderdir. Aktifbank'ın 
                Deputy Genel Müdür Yardımcısı olarak, yenilikçi finansal çözümler ve müşteri odaklı yaklaşımıyla tanınır. 
                Eriş'in liderlik yetenekleri ve sektörel bilgisi, bankacılık alanında 
                sürdürülebilir büyüme ve başarı için önemli bir katkı sağlamaktadır. </p>
                                                     
            </div>
            <div class="photo">
               <img src="/images/background/ayça.png" alt="">
            </div>
         </div>
  
  
        <div class="wrapper target">
           <div class="text">
              <h1>Ogün Demir</h1>
              
                <br><p> PASSO Operasyon Genel Müdürü </p> 
                <br> <p> Ogün Demir, operasyonel mükemmeliyet ve etkin liderlikle tanınan bir profesyoneldir.
                    PASSO'nun Operasyon Genel Müdürü olarak, etkinlik yönetimi ve müşteri memnuniyeti odaklı 
                    yaklaşımıyla sektörde öncü bir rol oynamaktadır. Demir'in liderlik yetenekleri ve stratejik vizyonu,
                     PASSO'nun operasyonlarını sürekli olarak iyileştirerek şirketin büyümesine önemli katkı sağlamaktadır.</p>         
                       
           
           </div>
           <div class="photo">
              <img src="/images/background/ogün.png" alt="">
           </div>
        </div>
        <div class="wrapper target">
            <div class="text">
               <h1>Cafer Seyhan</h1>
               
               <br><p>Grosper Marketler ve İnterga İhracat A.Ş Genel Müdürü </p>
               <br>  <p>Cafer Seyhan, Grosper Marketler ve İnterga İhracat A.Ş'nin genel müdürü olarak, 
                   perakende ve ihracat sektörlerinde uzun yılların deneyimine sahip bir liderdir. 
                   Seyhan'ın stratejik yönetim anlayışı ve işletme becerileri, şirketlerin başarılı 
                   bir şekilde büyümesini ve gelişmesini sağlamıştır. Seyhan'ın liderliği altında, 
                   Grosper Marketler ve İnterga İhracat A.Ş, sektördeki önemli oyuncular arasında yer almaktadır.</p>
            </div>
            <div class="photo">
               <img src="/images/background/cafer.png" alt="">
            </div>
         </div>
  
     </div>
      
     
     
     
     

      

   {{>footer}}