








   <div class="add">
      
      <form id="addForm">
         <div class="text">
            
            <input name ="title" type="text" placeholder="Başlığınız *" required>
            <textarea name="content" placeholder="Açıklamanız *" required></textarea>
            <input name="name" type="text" placeholder="Adınız ve Soyadınız*" required>
         </div>

         <div class="button">
            <button>
               <i class="fa-solid fa-plus"></i>
            </button>
            <label for="file">
               <i class="fa-solid fa-image"></i>
            </label>
            <input name="file" type="file" id="file" style="display: none;"> 
         </div>
      </form>
      <div class="addMessage">
      <p id="addFormMessage"></p>
   </div>
   </div>



<script>
   const addForm = document.getElementById('addForm')
   const addFormMessage = document.getElementById('addFormMessage')

   const clearMessageForaddForm = () => {
      setTimeout(() => {
         addFormMessage.innerHTML = ''

      }, 1000 * 3)
   }

   addForm.addEventListener('submit', (e) => {
      e.preventDefault()

      const formData = new FormData(e.target)


      fetch('/add', {
         method: 'post',
         body: formData
      }).then(response => response.json()).then(res => {

         if (res.case) {
            addFormMessage.style.color = 'blue';
            addFormMessage.innerHTML = res.message
            


         }
         else {

            addFormMessage.style.color = 'red';
             addFormMessage.innerHTML = res.message

         }
         clearMessageForaddForm()
      })
   })
</script>



