








   <div class="add">
      
      <form>
         <div class="text">
            
            <input type="text" placeholder="Başlığınız *" required>
            <textarea placeholder="Açıklamanız *" required></textarea>
            <input type="text" placeholder="Adınız ve Soyadınız*" required>
         </div>

         <div class="button">
            <button>
               <i class="fa-solid fa-plus"></i>
            </button>
            <label for="file">
               <i class="fa-solid fa-image"></i>
            </label>
            <input type="file" id="file" style="display: none;"> 
         </div>
      </form>
   </div>





